body
{
    height:3000px;
    background-color:white;
    
}
.a
{
    position:absolute;
    border:2px solid darkolivegreen;
    width:250px;
    height:40px;
    border-radius:9px;
    top:370px;
    left:480px;
    outline:none;
}
.b
{
    position:absolute;
    border:2px solid darkolivegreen;
    width:250px;
    height:40px;
    border-radius:9px;
    top:420px;
    left:480px;
     outline:none;
}
.c
{
    position:relative;
    height:500px;
    border:2px solid darkolivegreen;
    width:35%;
     border-radius:9px;
    background-color:white;
    left:350px;
    top:150px;
        
}
.cr
{
    position:absolute;
    left:520px;
    top:200px;
    color:darkolivegreen;
    font-size:xx-large;
    
}
.i
{
    position:absolute;
    font-family:comic sans ms;
    left:480px;
    top:470px;
    color:darkolivegreen;
    font-size:large;
}
.r
{
    position:absolute;
    font-family:comic sans ms;
    left:480px;
    top:500px;
    color:darkolivegreen;
    font-size:large;
}
.f
{
    position:absolute;
    font-family:comic sans ms;
    left:480px;
    top:530px;
    color:darkolivegreen;
    font-size:large;
}
.k
{
    position:absolute;
    border:2px solid darkolivegreen;
    border-radius:9px;
    width:90px;
    height:25px;
    left:520px;
    top:600px;
    color:white;
    background-color:darkolivegreen;
}
.k:hover
{
    color:white;
    background-color:darkolivegreen;
}
.joba
{
    position:fixed;
    left:540px;
    top:0;
    color:white;
}
.ro
{
    position:absolute;
    left:480px;
    top:300px;
    color:darkolivegreen;
    font-size:large;
}
.mn
{
    position:absolute;
    left:480px;
    top:330px;
    border:2px solid darkolivegreen;
    border-radius:5px;
    width:120px;
    height:30px;
     outline:none;
     color:darkolivegreen;
    
}
.cx
{
    position:fixed;
    border:2px solid darkolivegreen;
    width:99%;
    height:35px;
    background-color:darkolivegreen;
    top:19px;
}
@media only screen and (min-width:0px) and (max-width: 800px){
    
    body
    {
        margin:0;
        width:300px;
    }
    .joba
    {
        left:160px;
    }
    .c
    {
        left:14px;
        width:125%;
    }
    .a
    {
        left:50px;
        height:45px;
        width:330px;
        font-size:x-large;
        top:360px;
    }
    .b
    {
        left:50px;
        height:45px;
        width:330px;
        font-size:x-large;
    }
    .r
    {
        left:70px;
        font-size:xx-large;
    }
    .i
    {
        left:50px;
        font-size:xx-large;
        
    }
    .f
    {
        left:70px;
        font-size:xx-large;
        top:535px;
    }
    .k
    {
        left:140px;
        width:150px;
        height:40px;
        font-size:large;
    }
    .ro
    {
        top:270px;
        left:50px;
        font-size:xx-large;
    }
    .mn
    {
        left:50px;
        font-size:large;
        top:315px;
    }
    .cr
    {
        left:150px;
    }
    
    
    
   
}
    
