body
{
    background-color:white;
    width:100%;
}
img
{
    border:2px solid darkolivegreen;
    border-radius:60px;
    position:absolute;
    height:61px;
    width:60px;
    left:550px;
    
    
   
}
.z
{
    position:absolute;
    border:2px solid black;
}
.w
{
   
    width:20%;
    height:65px;
    position:absolute;
    top:140px;
    left:445px;
    padding-bottom:10px;
    padding-left: 20px;

}
.b:visited
{
    color:silver;
}
.b
{
    text-decoration: none;
    color:red;
    position:absolute;
    left:500px;
}
b:hover
{
    color:white;
}
.a
{
    position:relative;
    border:2px solid darkolivegreen;
    border-radius:5px;
    width:610px;
    margin:20px;
    margin-top:50px;
    padding:5px;
    background-color:white;
    color:darkolivegreen;
    height:180px;
    font-family:comic sans ms;
    font-size:large;
    top:100px;
    
    
}
.a:hover
{
    color:white;
    background-color:darkolivegreen;
    
}
.g
{
    position:relative;
    left:290px;
    top:-20px;
}
.s
{
    position:relative;
    left:470px;
    top:-50px;
}
.c
{
    position:relative;
    left:465px;
    top:82px;
    color:red;
}
.d
{
    position:relative;
    left:461px;
         color:red;
   
        
}
.v
{
    position:relative;
    left:289px;
    top:-19px;
        color:red;

}
.k
{
    position:relative;
    left:480px;
}
.n
{
    position:absolute;
    height:23px;
    text-decoration: none;
    top:107px;
   left:299px;
        width:170px;
        padding-left:130px;   
        border:2px solid darkolivegreen;
    background-color:white;
    
    color:darkolivegreen;
    font-size:large;
}
.m

{
    border:2px solid darkolivegreen;
    position:absolute;
    text-decoration: none;
     top:107px;
    left:30px;
    background-color:white;
    padding-left:130px;
    height:23px;
    width:170px;
    color:darkolivegreen;
    font-size:large;
    
}
.m:hover
{
    color:white;
    background-color:darkolivegreen;
}
.n:hover
{
    color:white;
    background-color:darkolivegreen;
}
.r
{
    position:fixed;
    background-color:darkolivegreen;
    position:absolute;
    border:2px solid darkolivegreen;
    height:39px;
    width:99%;
    top:20px;
    border-radius:5px;
}
.joba
{
    color:white;
    position:fixed;
    left:540px;
    top:0;
}
.l
{
    position:absolute;
    top:200px;
    left:500px;
    font-size:xx-large;
}
@media only screen and (min-width:0px) and  (max-width: 1000px){
    body
    {
        margin:0;
    }
    .a
    {
        height:300px;
        width:350px;
        border-radius:10px;
    }
    .joba
    {
       left:200px;
    }
    .b
    {
        position:relative;
        left:160px;
        top:50px;
        font-size:x-large;
    }
    .c
    {
        position:relative;
        left:150px;
        top:153px;
        font-size:xx-large;
    }
    .d
    
    {
        position:relative;
        left:250px;
        top:20px;
        font-size:xx-large;
    }
    .v
    {
        position:relative;
        left:60px;
        top:-19px;
        font-size:xx-large;
    }
    img
    {
        top:-35px;
        left:165px;
        height:82px;
        width:80px;
    }
    .w
    {
        left:109px;
        top:224px;
        width:180px;
        font-size:x-large;
    }
    .g
    {
        left:60px;
        top:-15px;
        font-size:xx-large;
    }
    .s
    {
        left:265px;
        top:-45px;
        font-size:xx-large;
    }
    .n
    {
        left:220px;
        width:10px;
        padding-left:90px;
        font-size:xx-large;
        height:35px;
    }
    .m
    {
        padding-left:80px;
        width:120px;
        font-size:xx-large;
         height:35px;
    }
    r{
        /*width:550px;*/
    }
    .n{
        width:160px;
    }
}