body
{
    background-color:black;
}
.a
{
    position:absolute;
    border:2px solid red;
    left:450px;
    top:280px;
    border-radius:15px;
    width:280px;
    height:35px;
    outline:none;
    font-size:large;
    padding-left:7px;
}
a:hover
{
    border:2px solid darkolivegreen;
    background-color:activecaption;
}
.b
{
    position:absolute;
    border:2px solid red;
    left:450px;
    top:340px;
     border-radius:15px;
     width:280px;
     height:35px;
     outline:none;
     font-size:large;
    padding-left:7px;
}
b:hover
{
    background-color:activecaption;
    border:2px solid darkolivegreen;
}
.c
{
    position:absolute;
    border:2px solid red;
    left:450px;
    top:430px;
     border-radius:15px;
     width:280px;
     height:35px;
         background-color:black;
    color:red;
    outline:none;
    font-size:large;
}
c:hover
{
    background-color:;
    border:2px solid darkolivegreen;
    color:white;
}
.ab
{
    position:relative;
    border:2px solid red;
    width:12%;
    height:0px;
    top:220px;
    left:509px;
    border-radius:9px;
}

.ac
{
    position:absolute;
    font-size:xx-large;
    left:520px;
    top:150px;
    color:red;
}
.ar
{
    position:absolute;
    left:500px;
    top:400px;
    font-size:x-large;
    color:darkolivegreen;
}
.ra
{
    position:absolute;
    left:500px;
    top:440px;
    font-size:x-large;
    color:darkolivegreen;
}
.s
{
    position:absolute;
    left:530px;
    top:500px;
    color:red;
}
.r
{
  position:fixed;
  border:2px solid black;
  width:99%;
  height:50px;
  border-radius:6px;
  top:20px;
  background-color:black;
  color:white;
}
.joba
{
    position:fixed;
    left:550px;
    font-size:xx-large;
    top:0px;
    color:red;
}
.tw
{
    position:absolute;
    left:530px;
    top:220px;
    color:red;
}
@media only screen and (min-width: 0px) and  (max-width: 700px){
    body
    {
        margin:0;
        
        width:100px;
    }
    .r
    {
        left:0px;
    }
    .joba
    {
         position:fixed;
        left:150px;
        top:0;
    }
    .ab
    {
        left:112px;
        width:140%;
    }
    .c
    {
        left:50px;
    }
    .a
    {
        left:40px;
        width:300px;
    }
    .b
    {
        left:40px;
        width:300px;
    }
    
    .ar
    {
        left:110px;
    }
    .ra
    {
        left:110px;
    }
    .ac
    {
        left:110px;
        
    }
    .tw
    {
        left:155px;
    }
    .s
    {
        left:155px;
        border:2px solid black;
        width:190px;
    }
     .cd
     {
         width:50px;
     }
    



}
@media only screen and (min-width: 320px) and  (max-width: 400px){
    .c
    {
        left:40px;
    }
    .b{
        left:30px;
    }
    .a
    {
        left:30px;
    }
}    
@media only screen and (min-width: 401px) and  (max-width: 501px){
    c
    {
        left:100px;
    }
    ab
    {
        left:20px;
    }
    
}    